@media (max-width: 1024px) {
    .header-nav{
        height: 4.2em;
    } 
    .title h1{
        font-size: 55px;
    } } 
@media (max-width: 768px) {
    .header-nav{
        height: 4.2em;
    } 
    .title h1{
        font-size: 50px;
    } 
    .navbar a{
        font-size: 1.2em;
    }
}
@media (max-width: 375px) {
    .header-nav{
        height: 10em;
        flex-direction: column;
    } 
} 
