header{
    width: 100%;
}
.header-nav{
    background-color: $darkpurple;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4.5em;
    align-items: center;
} 
.title h1{
    padding: 0.5em;
    font-weight: 600;
    font-size: 3.75rem;
    text-decoration: none;
    color:$white;
    &:hover{
        color: $hovertext;
    }
}
.navbar {
    display: flex;
    list-style: none;
    a{
        font-size: 1.5em;
        color:$white;
        padding-right: 1em;
    }
    a:hover{
        color:  $hovertext;
    }
} 
