@media (max-width: 1024px) {
    .container-new {
        height: 25em;
    }

    .new {
        img {
            height: 16em;
        }

        h3 {
            font-size: 1.2em;
        }

        p {
            font-size: 1em;
        }
    }

    .products {
        width: 16em;

        img {
            height: 22em;
        }

        h3 {
            font-size: 1.4em;
        }
    }

    .stores p {
        font-size: 1.6em;
    }
}

@media (max-width: 768px) {
    .container-new {
        height: 22em;
    }

    .new img {
        height: 10em;
    }

    .info {
        h3 {
            font-size: 1.1em;
        }

        p {
            font-size: 1em;
        }
    }

    .products {
        width: 14em;

        img {
            height: 16em;
        }
    }

    .stores p {
        font-size: 1.2em;
    }

    .grid-areas {
        display: grid;
        grid-template-columns: 60%;
        grid-template-rows: 10vh 1fr 10vh 1fr 10vh 1fr;
        grid-template-areas:
            "montevideo"
            "montevideo-img"
            "canelones"
            "canelones-img"
            "san"
            "san-img"
        ;
        justify-content: center;
        margin-top: 4em;
        margin-bottom: 4em;
    }

    .montevideo-img {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .canelones-img {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .san-img {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .text-city {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    h3 {
        display: flex;
        justify-content: center;
    }

    p {
        display: flex;
        text-align: center;
    }

    .grid-areas-shop {
        display: grid;
        flex-direction: row;
        grid-template-columns: 60%;
        grid-template-rows: 10vh 1fr 10vh 1fr 10vh 1fr, 10vh 1fr 10vh 1fr 10vh 1fr, 10vh 1fr 10vh 1fr 10vh 1fr;
        grid-template-areas:
            "cargo-green-img"
            "text-cargo-green "
            "black-tee-img"
            "text-black-tee"
            "half-zip-img"
            "text-half"
            "grey-hoodie-img"
            "text-grey-hoddie"
            "purple-shorts-img"
            "text-purple-short"
            "windbreaker-blue-img"
            "text-windbreaker-blue"
            "crewneck-green-img"
            "text-crewneck-green"
            "angelo-polo-img"
            "text-angelo-polo"
            "denim-pants-img"
            "text-denim-pants"
        ;
        margin-top: 5em;
        display: flex;
        justify-content: center;

        h3 {
            display: flex;
            font-size: 1.2em;
            color: #393646;
            justify-content: center;
            align-items: center;
        }

        p {
            width: 3em;
            background-color: $darkpurple;
            display: flex;
            font-size: 1em;
            color: $white;
            justify-content: center;
            align-items: center;
        }
        img {
            justify-content: center;
        }
    }
    .text-black-tee {
        display: flex;
        justify-content: center;
    }

    .text-half {
        display: flex;
        justify-content: center;
    }

    .text-grey-hoddie {
        display: flex;
        justify-content: center;
    }

    .text-cargo-green {
        display: flex;
        justify-content: center;
    }
    .text-purple-short{
        display: flex;
        justify-content: center;
    }
    .text-windbreaker-blue{
        display: flex;
        justify-content: center;
    }
    .text-crewneck-green{
        display: flex;
        justify-content: center;
    }
    .text-angelo-polo{
        display: flex;
        justify-content: center;
    }
.text-denim-pants{
    display: flex;
    justify-content: center;
    }
    .cargo-green-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .black-tee-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .half-zip-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
.grey-hoodie-img{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .purple-shorts-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .windbreaker-blue-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .crewneck-green-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .angelo-polo-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .denim-pants-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .grid-areas-shop{
        display: grid;
        grid-template-columns: 60%;
        grid-template-columns: 60%;
        grid-template-rows:1fr,1fr;
        grid-template-areas: 
        "buy-info"
        "container-buy"
        ;}
    .buy-info{
        grid-area:buy-info;
        display: grid;
        flex-direction: column;
        position: relative;
        display: flex;
        justify-content: center;
        padding-left:1px;
        align-items: center;
        grid-template-columns: 10em 10em 10em;
        grid-template-rows:10em;
        grid-template-areas: 
        "buy-info-text"
        "buy-sizes"
        "button"
        ;
    }
    .buy-info-text{
        grid-area: buy-info-text;
        margin-top: 2em;
    }
    .buy-info h2{
        font-size: 1.65em;
        display: flex;
        justify-content: center;
    }
    .buy-info p{
        font-size: 1.65em;
        display: flex;
        justify-content: center;
    }
    
    .size-letra{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
    }
    
    button{
        width: 50%;
    }
    .container-buy{
        flex-direction: row;
        justify-content: center;
        align-content: center;
        grid-template-columns: 50%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "buy-1"
        "buy-2"
        "buy-3"
        "buy-4";
        flex-direction: row;
        padding-left: 0px;
    }
    .aboutus{
        font-size: 4em;
    }
    .about-1-text{
        grid-area: about-1-text;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        h3{
            color: $darkpurple;
            font-weight: 700 bold;
            font-size: 1.5em;
        }
        p{
            width: 18em;
            padding-top: 1.8em;
            color: $darkpurple;
            font-weight: 400;
        }
    }
    .about-2-text{
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        h3{
            color: $darkpurple;
            font-weight: 700 bold;
            font-size: 1.5em;
        }
        p{
            width: 18em;
            padding-top: 1.8em;
            color: $darkpurple;
            font-weight: 400;
        }
    }
    .about-3-text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        h3{
            color: $darkpurple;
            font-weight: 700 bold;
            font-size: 1.5em;
        }
        p{
            width: 18em;
            padding-top: 1.8em;
            color: $darkpurple;
            font-weight: 400;
        }
    }
}

@media (max-width: 528px) {
    .container-new {
        margin-top: 5em;
        height: 50em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10em;

    }

    .container-products {
        margin-top: 15em;
        margin-bottom: 20em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .products img {
        height: 16em;
    }

    .stores {
        h2 {
            font-size: 2em;
        }

        p {
            font-size: 0.9em;
        }
    }
}

@media (max-width: 425px) {
    .stores p {
        font-size: 0.7em;
    }
}

@media (max-width: 375px) {}

@media (max-width: 325px) {
    .stores p {
        font-size: 0.6em;
    }
    .aboutus{
        font-size: 3.5em;
    }
}