.stores{
    h2{
        display: flex;
        justify-content: center;
        color: #393646;
        font-weight: 900 bold;
        font-size: 3.5em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    p{
        display: flex;
        justify-content: center;
        color: #393646;
        font-weight: 500 bold;
        font-size: 2.2em;
    }
}
.grid-areas-shop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "cargo-green-img black-tee-img half-zip-img "
        "text-cargo-green text-black-tee text-half"
        "grey-hoodie-img purple-shorts-img windbreaker-blue-img"
        "text-grey-hoddie text-purple-short text-windbreaker-blue"
        "crewneck-green-img angelo-polo-img denim-pants-img"
        "text-crewneck-green text-angelo-polo text-denim-pants"
    ;
    margin-top: 5em;

    h3 {
        display: flex;
        font-size: 1.2em;
        color: #393646;
        justify-content: center;
        align-items: center;
    }

    p {
        width: 3em;
        background-color: $darkpurple;
        display: flex;
        font-size: 1em;
        color: $white;
        justify-content: center;
        align-items: center;
    }
    img {
        justify-content: center;
    }
}
.text-black-tee{
    grid-area: text-black-tee;
    @include flex(space-evenly,center);
    padding-top: .3125rem;
    padding-bottom: 2em;
    }
.text-cargo-green{
        grid-area: text-cargo-green;
        grid-area: text-black-tee;
        @include flex(space-evenly,center);
        padding-top: .3125rem;
        padding-bottom: 2em;
    }
.text-half{
        grid-area: half-zip;
        grid-area: text-black-tee;
        @include flex(space-evenly,center);
        padding-top: .3125rem;
        padding-bottom: 2em;
    }
.text-grey-hoddie{
        grid-area: text-grey-hoddie;
        grid-area: text-black-tee;
        @include flex(space-evenly,center);
        padding-top: .3125rem;
        padding-bottom: 2em;
    }
.text-purple-short{
        grid-area: text-purple-short;
        grid-area: text-black-tee;
        @include flex(space-evenly,center);
        padding-top: .3125rem;
        padding-bottom: 2em;
    }
.text-windbreaker-blue{
        grid-area: text-windbreaker-blue;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-bottom: 2em;
    }
.text-crewneck-green{
        grid-area: text-crewneck-green;
        grid-area: text-black-tee;
        @include flex(space-evenly,center);
        padding-top: .3125rem;
        padding-bottom: 2em;
    }
.text-angelo-polo{
        grid-area: text-angelo-polo;
        grid-area: text-black-tee;
        @include flex(space-evenly,center);
        padding-top: .3125rem;
        padding-bottom: 2em;
    }
.text-denim-pants{
        grid-area: text-denim-pants;
        grid-area: text-black-tee;
        @include flex(space-evenly,center);
        padding-top: .3125rem;
        padding-bottom: 2em;
    }

    .cargo-green-img{
        display: flex;
        justify-content: center;
        grid-area: cargo-green-img;
        img{
            width: 15.625rem;
            object-fit: cover;
            border: 3.5px solid #393646;
            cursor: pointer;
        }
        img:hover{
            border-color: $hoverimg;
        }
    }
    .black-tee-img{
        display: flex;
        justify-content: center;
        grid-area: black-tee-img;
        img{
            width: 15.625rem;
            object-fit: cover;
            border: 3.5px solid #393646;
            cursor: pointer;
        }
        img:hover{
            border-color: $hoverimg;
        }
    }
    .half-zip-img{
        display: flex;
        justify-content: center;
        grid-area: half-zip-img;
        img{
            width: 15.625rem;
            object-fit: cover;
            border: 3.5px solid #393646;
            cursor: pointer;
        }
        img:hover{
            border-color: $hoverimg;
        }
    }
.grey-hoodie-img{
    display: flex;
        justify-content: center;
        grid-area: grey-hoodie-img;
        img{
            width: 15.625rem;
            object-fit: cover;
            border: 3.5px solid #393646;
            cursor: pointer;
        }
        img:hover{
            border-color: $hoverimg;
        }
    }
    .purple-shorts-img{
        display: flex;
        justify-content: center;
        grid-area: purple-shorts-img;
        img{
            width: 15.625rem;
            object-fit: cover;
            border: 3.5px solid #393646;
            cursor: pointer;
        }
        img:hover{
            border-color: $hoverimg;
        }
    }
    .windbreaker-blue-img{
        display: flex;
        justify-content: center;
        grid-area: windbreaker-blue-img;
        img{
            width: 15.625rem;
            object-fit: cover;
            border: 3.5px solid #393646;
            cursor: pointer;
        }
        img:hover{
            border-color: $hoverimg;
        }
    }
    .crewneck-green-img{
        display: flex;
        justify-content: center;
        grid-area: crewneck-green-img;
        img{
            width: 15.625rem;
            object-fit: cover;
            border: 3.5px solid #393646;
            cursor: pointer;
        }
        img:hover{
            border-color: $hoverimg;
        }
    }
    .angelo-polo-img{
        display: flex;
        justify-content: center;
        grid-area: angelo-polo-img;
        img{
            width: 15.625rem;
            object-fit: cover;
            border: 3.5px solid #393646;
            cursor: pointer;
        }
        img:hover{
            border-color: $hoverimg;
        }
    }
    .denim-pants-img{
        display: flex;
        justify-content: center;
        grid-area: denim-pants-img;
        img{
            width: 15.625rem;
            object-fit: cover;
            border: 3.5px solid #393646;
            cursor: pointer;
        }
        img:hover{
            border-color: $hoverimg;
        }
    }
